<!DOCTYPE html>
<html>
<head>
  <title>Egging</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul>
      <li>
        <%= link_to "Home", root_path%>
        <%= link_to "About", about_path%>
      </li>
  </ul>

<%= yield %>

</body>
</html>
